/* You can add global styles to this file, and also import other style files */
@import 'bootstrap';
@import 'bootstrap-icons';
@import 'ngx-toastr/toastr';
@import './../public/assets/css/rotating-card.css';

input.ng-invalid.ng-touched {
  border: red solid 2px;
}
